RewriteEngine On

# Route everything through index.php for MVC handling
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

php_flag display_errors on
php_value error_reporting 6143