RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# URL artists/*** ruft display-single-artist.php auf
RewriteRule ^artists/(.+)$ display-single-artist.php?id=$1 [L]

# URL artists/ wird auf artists umgeleitet
RewriteRule ^artists/?$ artists.php [L]

# URL subjects/*** ruft display-single-subject.php auf
RewriteRule ^subjects/(.+)$ display-single-subject.php?id=$1 [L]

# URL subjects/ wird auf subjects umgeleitet
RewriteRule ^subjects/?$ subjects.php [L]

# Entfernt .php in der URL
RewriteRule ^([^\.]+)$ $1.php [NC,L]

php_flag display_errors on
php_value error_reporting 6143