.break {
  border-top: 1px solid black;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/*
  Ensures the navbar always spans the full viewport width, while still having the container tag around the html body
*/
.navbar-fullwidth {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  max-width: 100vw;
  z-index: 1030;
}

h1, h2, h3, .headline {
  font-family: 'Lobster';
}

body, p, nav {
  font-family: 'Lato';
}